# Application
#web/app/plugins/*
!web/app/plugins/.gitkeep
#web/app/mu-plugins/*/
web/app/upgrade
#web/app/uploads/*
web/app/uploads/ithemes-security
web/app/uploads/wp-migrate-db
web/app/uploads/cache
web/app/cache/

!web/app/uploads/.gitkeep

# WordPress
#web/wp
#web/.htaccess

# Dotenv
.env
.env.*
!.env.example

# Composer
#vendor/*
!vendor/.gitkeep

web/thetrick

menu-vertical-push-github
