/* eslint-disable selector-pseudo-element-colon-notation */
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
:root {
  --vh-offset: 0px;
}

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}

/* Hide the text. */
.hide-text {
  display: block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

img {
  max-height: 100%;
  max-width: 100%;
}

textarea, input, button, .mobile-nav-link {
  outline: none;
}

.container {
  margin: 0 auto;
  padding: 0;
}

body.front {
  background: $background;
  overflow: scroll;

  &.no-scroll {
    overflow: hidden;
  }

  .fullscreen {
    background-color: $background;
    //cursor: pointer;

    .fullscreen-wrapper {
      @include breakpoint($xs) {
        overflow: hidden;
      }

      .wrap.container {
        max-width: 100%;
        width: 100%;

        > .content {
          margin: 0;

          .main {

          }
        }
      }
    }
  }

  #body-overlay {
    background: rgba(255, 255, 255, .5);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -300
  }

  .main {
    margin: 0 auto;
    max-width: $main-content-max-width;

    .alignleft {
      margin-bottom: $image-margin-vertical;
      margin-right: $image-margin-horizontal;
    }

    .alignright {
      margin-bottom: $image-margin-vertical;
      margin-left: $image-margin-horizontal;
    }

    @include breakpoint($xs-sm-only) {
      width: 90%;
    }
  }

  &.page-template-template-projects, &.single-projects {
    .main {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin: 0 auto;
      max-width: $main-content-max-width;

      > * {
        transition-duration: .25s;
        transition-property: opacity;
      }

      &.centered-image > *:not(.centered-image-transition-duration) {
        opacity: 0;
      }

      p {
        margin-top: 0;
      }
    }
  }

  &.centered-image {
    #back-to-top {
      opacity: 0;
    }
  }

  &.windows {
    overflow-x: hidden;


    .fullscreen {
      overflow: hidden;

      #thumbnail-trigger, .center-scroll-arrows{
        transition-property: top, right;
      }

      &:fullscreen {
        overflow-y: scroll;

        #thumbnail-trigger{
          right: 41px;
        }

        .center-scroll-arrows{
          right: 42px;
        }
      }
    }

    &.centered-image{
      .fullscreen{
        overflow-y: hidden;

        &:fullscreen {
          #thumbnail-trigger {
            right: 21px;
          }

          .center-scroll-arrows {
            right: 22px;
          }
        }
      }
    }
  }
}
