// TODO: .banner .nav li {}
// TODO: .banner .nav a {}
header.banner {
  margin-bottom: 70px;

  @include breakpoint($xs-sm-only){
    margin-bottom: 0;
  }

  .container {
    display: flex;
    justify-content: center;
    overflow: auto;

    .brand {
      background-color: $background;
      display: block;
      height: auto;
      line-height: 1em;
      margin: 0 auto;
      max-width: 100%;
      text-align: center;
      padding: 31px 0 0;
      font-size: 30px;
      font-weight: bold;
      position: static;
      top: 0;
      left: 0;
      width: 420px;

      @include breakpoint($xs-sm-only) {
        width: calc( 100% - 131px );
        margin: 84px 0 69px;
        padding: 0;
      }
    }
    .nav-primary {
      z-index: 300;
      .nav {
        padding: 0;
        li {
          display: inline-block;
          list-style-type: none;
          margin: 0 .3em;
        }
      }
    }
  }

  .fullscreen-toggle{
    background-image: url($image-path + 'fullscreen-in.png') !important;
    left: 22px;
    right: unset;
    top: 26px;
    width: 33px !important;
    z-index: 301;
  }
}

.hamburger{
  z-index: 307 !important;
  top: 57px;
  left: 9px;
}

.home {
  .hamburger, .nav-primary {
    display: none;
  }
}

.fullscreen:fullscreen{
  .fullscreen-toggle{
    background-image: url($image-path + 'fullscreen-out.png') !important;
    display: block !important;
  }
}

//if there is no fullscreen capabilities we have a different arrangment of nav icons
.no-fullscreen{
  .hamburger{
      left: 1px;
      top: -5px;
  }
}
