// TODO: .banner .nav li {}
// TODO: .banner .nav a {}
header.banner {
  margin-bottom: 70px;

  .container {
    overflow: auto;

    .brand {
      background-color: $background;
      display: block;
      height: 117px;
      line-height: 1em;
      margin: 0;
      text-align: center;
      padding: 4vh 0 9.5vh;
      font-size: 30px;
      font-weight: bold;
      position: static;
      top: 0;
      left: 0;
      width: 100%;

      span{
        display: block;
        background: url($image-path + 'logo.png') no-repeat center transparent;
        height: 88px;
      }
    }
    .nav-primary {
      z-index: 300;
      .nav {
        padding: 0;
        li {
          display: inline-block;
          list-style-type: none;
          margin: 0 .3em;
        }
      }
    }
  }
}

.hamburger{
  z-index: 307 !important;
}

.home {
  .hamburger, .nav-primary {
    display: none;
  }
}