.blog{

  .main{
    //margin: 0 auto;
    //max-width: 470px;
    //width: 100% !important;

    .posts-main{

    }
  }
}
.post-main-content figure{
  display: block;
  margin-left: auto;
  margin-right: auto;
}