@import "node_modules/hamburgers/_sass/hamburgers/hamburgers";
.menu-vertical-push {
  overflow: hidden;
  transition-duration: .25s;
  transition-property: margin-top;

  &.open .nav-primary{
    transform: translateX(0);
  }

  .nav-primary {
    visibility: hidden;

    .nav {
      padding: 0;
      text-align: center;

      li {
        display: inline-block;
        list-style-type: none;
        margin: 0 .3em;
      }
    }
  }

  &.menu-vertical-push-processed .nav-primary{
    visibility: visible;
  }

}

.hamburger {
  position: fixed;
  top: 57px;
  left: 8px;
  z-index: 307;

  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: hsla(0, 0%, 70%, 1.0);
    height: 2px;
    width: 30px;
  }
}
