.artwork_piece {
  $zoom-transition-duration: .5s;
  display: flex;
  justify-content: center; // max-height: 100vh !important;
  max-width: 100vw !important;
  min-width: 100%;
  padding-top: 55px;
  position: relative;
  transition-property: width, height;
  transition-duration: $zoom-transition-duration;

  h3 {
    position: absolute;
    top: 0;
    left: 0;
  }

  .image-wrap {
    display: inline-block;
    max-height: 100%;
    max-width: 100%; // overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;

    .image-space-placeholder {
      margin: 0 auto;
      position: relative;
      transition-duration: $zoom-transition-duration;
      width: 100%;
      z-index: 2;

      .center-image-wrap, .zoomy-wrap {
        align-items: baseline;
        display: flex;
        justify-content: center;
      }

      .main-img {
        flex-grow: 0;
        flex-shrink: 0;
        max-height: 100vh;
        position: static;
        transition-duration: $zoom-transition-duration;
      }

      .artwork-image-wrap {
        margin: 0 auto;
      }

    }

    .caption {
      display: inline-block;
      margin-right: 1%;
      width: 81%;
    }
    .artwork-meta {
      display: flex; // position: absolute;
      position: static;
      text-align: left; // top: 100%;
      width: 100%;

      .caption p {
        margin: 0;
      }

      .actions {
        display: block;
        position: absolute;
        right: 0;
        flex-grow: 0;
        flex-shrink: 0;
        transition-duration: .5s;
        z-index: 20;
        div {
          display: inline-block;
          height: 30px;
          width: 30px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .piece-comparison {
      $piece-comparison-padding: 3vh;
      background: #fff;
      display: flex;
      left: 0;
      margin: 0;
      padding: 0;
      position: fixed;
      right: 0;
      top: 0;
      transform: translateY(110vh);
      transition-duration: .5s;
      z-index: 400;
      height: 100vh;

      .piece-comparison-wrap {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        margin: 0 auto;
        overflow: hidden;
        padding: 0;
        width: 100%;

        &.piece-comparison-processed{
          visibility: visible !important;
        }
      }

      .comparison-image-wrap {
        align-items: center;
        flex-direction: column;
        flex-grow: 0;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 29%;
        max-height: 100%;
        padding-bottom: $piece-comparison-padding;
        position: absolute;
        top: 4%;
        z-index: 1;

        .comparison-image {
          flex-shrink: 1;
          height: auto;
          max-height: none;
          max-width: none;
          width: 100%;
        }
        .info-text {
          p {
            color: #0f0f0f;
            display: inline;
          }
        }
      }
      .compared-to {
        height: 100vh;
        left: 0;
        max-height: none;
        max-width: none;
        object-fit: cover;
        position: absolute;
        top: 0;
        transition-duration: 250ms;
        transition-property: width, height;
        width: 100vw;
      }
      .close {
        color: #0f0f0f;
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 5;

        &:hover{
          cursor: pointer;
        }
      }
    }
  }
  &.show-info {
    .piece-comparison {
      transform: translateY(0vh);
    }
  }

  .zoomy-wrap {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;

    .zoom-img {
      background-color: hsla(0, 0%, 6%, 1.0);
      position: absolute;
      max-height: none;
      max-width: none;
      padding: 10px;
      width: 150%;
      height: auto;
    }

    .mouse-map-wrap {
      align-items: center;
      background-color: hsla(0,0,11%,1);
      background-origin: border-box;
      background-repeat: no-repeat;
      background-size: 100%;
      display: flex;
      height: 100%;
      justify-content: center;
      overflow: hidden;
      opacity: 0;
      position: relative;
      transition-duration: $zoom-transition-duration;
      transition-property: transform, background-size, width, height;
      width: 100%;
      &[zoom-enabled]:hover {
        cursor: zoom-in;
      }

      .mouse-map {
        opacity: .4;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        transition-duration: $zoom-transition-duration;
        transition-property: transform, background-size, width, height;
      }
    }
  }
  &.zoomed {
    .mouse-map-wrap {
      opacity: 1;

      &:hover {
        cursor: zoom-out !important;
      }
    }
    .main-img {
      visibility: hidden;
    }
  }

  &.centered {
    .image-space-placeholder {
      z-index: 50;
    }

    .center-image-wrap, .zoomy-wrap {
      align-items: center !important;
      bottom: 0;
      height: auto !important;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
    }

    .artwork-meta {
      $width-displayed: 40px;
      background-color: hsla(0, 0%, 10%, 1);
      align-items: center;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      left: calc(100vw - #{$width-displayed});
      padding: 0;
      position: fixed;
      transition-duration: $zoom-transition-duration;
      transition-property: left;
      width: 100vw;
      z-index: 302;

      .artwork_piece {
        width: auto;
      }

      &:before {
        content: '';
        height: 30px;
        width: 30px;
        border: solid white;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(135deg);
        position: absolute;
        left: 12px;
        bottom: 14px;
      }

      &:hover {
        left: 0;
        padding-left: 1.2em;
        padding-right: 1.2em;

      }

      .caption {
        padding: 20px 20px 20px 41px;
        width: 81%;

        p {
          text-align: center;
        }
      }

      .actions {
        position: static;
      }
    }

    &.width {
      .image-space-placeholder, .image-ratio-holder {
        width: 100%;
      }
    }

    &.height {
      .image-wrap, .image-space-placeholder, .image-ratio-holder {
        width: 100%;
      }
    }
  }

  &:not(.zoomed) {
    .artwork-meta {
      &:hover {
        bottom: 0;
        .caption p {
          opacity: 1;
        }
      }
    }
  }
  &.centered-image-transition-duration {
    .main-img {
      transition-duration: $zoom-transition-duration;
    }
  }

  &.zoomed-delay {
    .mouse-map-wrap {
      opacity: 1 !important;
    }
  }
  
  .actions .zoom{
    display: none !important;
  }

  &[zoom-enabled]{
    .actions .zoom{
      display: inline-block !important;
    }
  }
}

body.orientation-landscape {
  .artwork_piece {
    .zoom-wrap {
      img {
      }
    }
  }
}

body.artworks-processed {
  .artwork_piece {
    width: 100vw;
  }
}

body {
  &.centered-image {
    .main > * {
      opacity: 0;
      &.centered {
        opacity: 1 !important;

        h3{
          opacity: 0;
        }
      }
    }
  }
  &.is-touch {
    @include nonAnimatingMobile;
    &.zoomed {
      overflow: hidden;
    }
  }
  &.viewport-resizing {
    .artwork_piece {
      max-width: 100% !important;
    }
  }
  &.orientation-landscape {
    .centered {

    }
    &.zoomed {
      .artwork-meta {
        z-index: 0;
      }
    }
  }
  &.orientation-portrait {
  }

  @media screen and (max-width: $main-content-max-width + 30px) {
    @include nonAnimatingMobile;
  }
}

body.template-projects {
  header.banner {
    margin-bottom: 121px;
  }

  .page-header {
    display: none;
  }
}