.center-scroll-arrows {
  position: fixed;
  left: unset;
  right: 22px;
  top: 18px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 50;

  div {
    background: url($image-path + 'arrow.png') no-repeat center/contain transparent;
    height: 32px;
    width: 30px;

    &.prev{

    }

    &.next {
      transform: rotate(180deg);
    }

    &:hover{
      cursor: pointer;
    }
  }

  &.hide-next {
    .next {
      visibility: hidden;
    }
  }

  &.hide-previous {
    .prev {
      visibility: hidden;
    }
  }

}