.nav-primary {
  background: $background;
  transform: translateX(-100vw);
  position: fixed;
  z-index: 19;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  padding: 24px 13vh;
  max-height: 100vh;
  max-width: none;
  overflow: scroll;
  top: 0;
  transition-duration: .25s;
  transition-property: transform;

  @include breakpoint($xs){
    padding: 10vh;
  }

  @include breakpoint($sm-only){
    padding: 6vh 18vh;
  }

  @include breakpoint($md-only){
    padding: 24px 11vw;
  }
}

.custom-nav {
  //display: flex;
  //flex-wrap: wrap;
  //justify-content: flex-start;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3vw;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0;

  @include breakpoint($xs){
    grid-template-columns: 1fr;
  }

  @include breakpoint($sm-only){
    grid-template-columns: 1fr 1fr;
  }

  .list-item {
    display: block;
    height: auto;
    margin: 0 0 1.8em;
    max-height: none;
    max-width: none;
    width: auto;


    &:hover .nav-item-image, &:active .nav-item-image{
      transform: scale(1.01);
      transition-duration: .25s;
      transition-property: transform;
    }

    .nav-item {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .nav-item-header {
      display: flex;
      flex-direction: column;
      flex-grow: 0;
      font-size: 18px;
      justify-content: flex-end;
      margin-bottom: 13px;
      text-transform: uppercase;
      letter-spacing: 1.1px;
    }

    .nav-item-image {
      background-size: cover;
      display: block;
      flex-grow: 0;
      height: unset;
      max-width: 100%;
      padding-bottom: 100%;
      width: 100%;
    }

    .nav-item-short-text {
      display: block;
      flex-grow: 0;
      margin-top: 0.4em;
    }
  }
}

body.home{
  .custom-nav{
    width: 90%;
  }
}
