#thumbnails-nav{
  background-color: rgba(0,0,0,.9);
  height: 100vh;
  left: 0;
  opacity: 1;
  overflow: scroll;
  padding: 0 4vw 8vw;
  position: fixed;
  top: 0;
  transition-duration: .1s;
  transition-property: transform, opacity;
  width: 100vw;
  z-index: 300;

  h1{
    font-size: 18px;
    letter-spacing: 3.7px;
    height: 8vw;
    width: 100%;
    text-align: center;
    margin: 0 0 -2vh 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .thumbnails-wrap{
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .thumbnail-wrap{
    height: 21vw;
    padding: 2vh;
    width: auto;
  }

  .thumbnail{
    height: 100%;
    width: auto;

    &:hover{
      cursor: pointer;
    }
  }

  &.hide{
    opacity: 0;
    transform: translateX(-100vw);
  }
}

#thumbnail-trigger{
  $square-side-length: 10;
  $square-margin-right: 3;
  $square-margin-bottom: 3;
  $wrap-width: ($square-margin-right + $square-side-length) * 3;
  $wrap-height: ($square-margin-bottom + $square-side-length) * 2;
  height: $wrap-height + px;
  left: 10px;
  position: fixed;
  bottom: 8px;
  transition-duration: .1s;
  transition-property: top;
  width: $wrap-width + px;
  z-index: 301;

  &:hover{
    cursor: pointer;
  }


  >div{
    background-color: #fff;
    float: left;
    height: $square-side-length + px;
    margin: 0 $square-margin-right + px $square-margin-bottom + px 0;
    width: $square-side-length + px;
  }
}

body:not(.template-projects) #thumbnail-trigger{
  display: none;
}