body.welcome{
  header.banner{
    display: none;
  }

  .page-header{
    display: none;
  }
  
  .hamburger{
    display: none;
  }

  p{
    margin: 0;
    padding: 0;
  }
  #welcome-image{
    display: block;
    background: url('/app/uploads/2018/06/Interior_Light.jpg') center center/cover transparent;
    height: 100vh;
    width: 100vw;
  }
}